body {
    height: 100vh;
    background-image: url('./images/0.jpg');
    background-size: cover;
    background-position: center center;
}

/* @media (max-width: 768px)  */
#main-container {
    max-width: 960px;
    margin: 0px auto;
}

#search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#search-input {
    width: 35rem;
    height: 45px;
    font-size: 16px;
    padding: 0px 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
}

#search-button {
    height: 40px;
    width: 80px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
}

#transparent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 32vh;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
}

.box1 {
    padding-left: 8vw;
    margin-block-end: 5vh;
    margin-block-start: 5vh;
}

.column {
    width: 48%;
}

#city, #weather-code {
    font-size: 35px;
}

p {
    color: white;
}

#current-weather {
    font-size: 50px;
}

#code, #clouds, #relative-humidity, #wind-speed, #rain-chances {
    font-size: 20px;
}

#weather-code {
    font-family: monospace;
}

#sunrise-and-sunset {
    margin-block-start: 35px;
}

#p-sunset, #p-sunrise {
    font-size: 18px;
}

#sunset, #sunrise {
    font-size: 25px;
    font-family: monospace;
}

/* Din grid CSS */
.col {
    flex: 1 0 0%;
}

#daily-weather-title {
    margin-bottom: 3rem;
    margin-inline-start: 6rem;
    font-size: 40px;
}

#highest-daily-weather {
    font-size: 20px;
    font-weight: 500;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
}

#lowest-daily-weather {
    font-size: 15px;
    margin-top: -5px;
}

#days {
    font-size: 15px;
    font-weight: 500;
    margin-top: 2vh;
}

